.wrapper{
    width: 1024px;
    margin: 0 auto;
}
.fond_bleu{
    background-color: #75757575;
}
.fond_jaune{
    background-color: #fff176;
}
.text_noir{
    color: black;
}
.size_texte_24{
    font-size: 24px;
    color: black;
    font-weight: bold !important;
}
.message{
    color: red;
    background-color: yellow;

}
.titre{
    border: solid black;
    background-color: #3d34;
    font-size: 50px !important;
}